*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', serif;
    text-decoration: none;
    list-style: armenian;
}

body{
    background: black;
    min-height: 3000px;
    ms-overflow-style: none;
    scrollbar-width: none;
}

/*To hide the scroll-bar*/
body::-webkit-scrollbar {
    display: none;
}



/*==========================Tanmay Shah==========================*/

/*Header*/
h2.title{
 display: inline-block;
    position: relative;
    font-size: 3em;
    letter-spacing: 15px;
    color: #000000 ;
   text-transform: uppercase;
    width: 100%;
    text-align: center; 
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 1em;
    outline: none;
    animation: animate 5s linear 2;
     margin-bottom: 90vh;
    font-family: 'Times New Roman', Times, serif;
    
}


@keyframes animate {

0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%{
      color: #000000;
      text-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%
    {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px #ff7b00,
        0 0 20px #fd7a00,
        0 0 40px #ff7b00,
        0 0 80px #ff7b00,
        0 0 160px #ff7b00;

    }
    
}

/*Parallax Effect*/

section.parallax{
    position: relative;
    width: 100%;
    height: 150vh;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}


section:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, #000000, transparent);
    z-index: 2;
}

section:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    mix-blend-mode: color;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#text{
      font-family: 'Times New Roman', Times, serif;
    position: relative;
    font-size: 6em;
    z-index: 0;
}

#Layer2{
    z-index: 1;
}





/*============================Yash Sharma============================*/

/* =====Pre Loader===== */
#loader-container{
  position: fixed;
  width: 100%;
  height: 100%;
  background: black url(Images/loader5.gif) no-repeat center;
  object-fit: contain;
  z-index: 9999;
}


nav{
    background: rgba(0, 0, 0,0.7);
    height: 60px;
    width: 100vw;
    position: fixed;
    z-index: 2;
  }

  .ecell{
    margin-top: 10px;
    width: 7rem;
}

.logo{
    line-height: 80px;
    padding: 0 2.5rem;
    font-weight: bold;
  }

 ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0,0.7);
    top: 3.7rem;
    left: -100%;
    transition: all 0.5s;
    text-align: center;
 
  }

nav ul li{
    display: block;
    line-height: 100px;
    z-index: 3;
  }

 nav ul li a{
    font-size: 30px;
    color: red;
  }

  .button{
    font-size: 20px;
    color: red;
    background: transparent;
    float: right;
    line-height: 40px;
    margin-top: 0.7rem;
    margin-right: 60px;
    cursor: pointer;
    font-weight: bold;
    
  }

  .button:hover{
    color: white;
    transition: all 0.4s;
  }

  nav ul li a:hover{
    color: white;
    transition: all 0.5s ease;
  }

  #check{
    display: none;
  }

  #check:checked ~ ul{
    left: 0%;
  }

  @media (max-width : 700px){
    .logo{ 
        font-size: 10px;
      }
      .button{
        font-size: 10px;
        margin-top: 0.8rem;
        margin-right: 30px;
      }
      nav ul li a{
          font-size: 15px;
      }
      .ecell{
        margin-top: 15px;
        width: 5.5rem;
    }
    nav{
        height: 60px;
    }
    ul{
        top: 3.7rem;
    }
  }

/* -----------------------------------Anish----------------------------------- */

main {
  background: linear-gradient(0deg, #50170D, black, black);
  color: white;
  text-align: center;
}


p, h2,h3 {
  margin: 10px;
}

h2 {
  font-size: 3rem;
}

a {
  color: transparent;
}

#heads, #managers {
  display: flex;
  justify-content: space-around;
}

#managers {
  flex-wrap: wrap;
}

.head {
  width: 50%;
  min-width: 240px;
  max-width: 400px;
  margin: 50px 10px;
  padding: 20px;
  background: rgba(255,255,255,0.05);
  border-radius: 5%;
}

.head img {
  border-radius: 5%;
  min-width: 250px;
  width: 80%;
}

.manager {
  width: 40%;
  border-radius: 5%;
  min-width: 180px;
  max-width: 300px;
  margin: 40px;
  padding: 10px;
  padding-top: 25px;
  background: rgba(255,255,255,0.08);
}

.manager img {
  border-radius: 5%;
  min-width: 200px;
  width: 80%;
}

.icons svg {
  margin: 15px 8px;
  color: rgb(149, 149, 149);
  transform: translateY(30px);
  opacity: 0;
  /* property name | duration | easing function | delay */
  transition: all 0.4s ease;
}

.head:hover .icons svg, .manager:hover .icons svg{
  color: rgb(149, 149, 149);
  transform: translateY(0px);
  opacity: 1;
}

.head:hover .icons svg:hover,
.manager:hover .icons svg:hover {
  color: white;
}

@media (max-width: 650px) {
  #heads, #managers {
      flex-direction: column;
      align-items: center;
  }
  .head, .manager {
      width: 60%;
  }
  .head img {
      width: 80%;
      min-width: 230px;
  }
  .manager:last-child {
      margin-bottom: 5rem;
  }
}

@media (pointer: none), (pointer: coarse){
  .icons svg {
      transform: translateY(0px);
      margin: 15px 8px;
      color: rgb(200, 200, 200);
      opacity: 1;
  }
  .icons svg:active {
      color: white;
  }
}

/* -------------------------------------------------Footer------------------------------------------------- */


footer{ 
  font-family: 'Roboto', sans-serif;
  background-color:#202124;
  color:white;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  text-decoration: none;
}

#footerbottom {
  background-color:#4a4d55;
  font-size: 10px;
  color:cornsilk;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  margin: 0;
}

footer img {
  margin-top: 25px;
  margin-bottom: 0px;
}

footer p {
  letter-spacing: 2px;
  margin-top: 25px; 
}

#logoContnr {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 300px;
}

svg {
  color: white;
}

svg:hover {
  cursor: pointer;
}

.fb:hover {
  color:#0A82ED;
}

.ig:hover {
  color: #CA2D8B;
}

.li:hover {
  color: #0A66C2;
}

.yt:hover {
  color: #FF0000;
}

.tw:hover {
  color: #1DA1F2;
}